*.elc
*~
.#*
.DS_Store
.ido.last
.python-environments
.saved-places
README.el
abbrev_defs
ac-comphist.dat
bookmarks
ede-projects.el
elpa/
ensime/
eshell/
games/
ido.last
image-dired/
irony/
recentf
semanticdb/
smex-items
snippets/
srecode-map.el
tramp
url/